extends layout

block body
  div#compass
    img#rose(
      src='img/rose.png'
      alt=''
      )
    img#pointer(
      src='img/pointer.png'
      alt=''
      )
    img#arrow(
      src='img/arrow.png'
      alt=''
      )
  p
  | Lat: <span class='lat'></span>
  | Lng: <span class='lng'></span>
  | Bearing: <span class='bearing'></span>

  footer
